@page "/CreateTrip"
@using TravelBuddy.Logic
@using TravelBuddy.Models
@using TravelBuddy.Shared
@inject CityService CityService
@inject CountryService CountryService
@inject GuideService GuideService
@inject TripService TripService
@inject AppDbContext AppDbContext

<style>
    .p-list-item {
        color: black;
        font-size: 20px;
        display: inline-block; 
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div class="main_container">
    
    @if (_countriesVisible)
    {
        <div id="country_div" class="container">
            <h2>Where would you like to go?</h2>
            <div style="height: 900px; overflow-y: auto;">
                <p class="lead">Select a destination country:</p>
                <ul class="list-group country_list">
                    @{
                        var countries = CountryService.GetCountries();

                        foreach (var country in countries)
                        {
                            <li class="list-group-item" @onclick="() => FindCities(country)">
                                <span class="@country.Flag"></span>
                                <p class="p-list-item" style="color: orange">&#9733 @country.Rating</p>
                                <p class="p-list-item">@country.Name</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (_citiesVisible)
    {
        <div id="city_div" class="container">
            <h2>Choose one of these most popular destinations in @_countryName!</h2>
            <div style="height: 900px; overflow-y: auto;">
                <ul class="list-group city_list">
                    @{
                        foreach (var city in _cities)
                        {
                            <li class="list-group-item" @onclick="() => FindGuides(city)">
                                <p class="p-list-item">@city.Name</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (_guidesVisible)
    {
        <div id="guide_div" class="container">
            <h2>Perfect! Now choose your guide in @_cityName!</h2>
            <div style="height: 900px; overflow-y: auto;">
                <ul class="list-group guide_list">
                    @{
                        foreach (var guide in _guides)
                        {
                            <li class="list-group-item" @onclick="() => ShowCreateTrip(guide)">
                                <img src="@guide.User.ProfilePicture" alt="Guide Profile Picture" style="width: 40px; height: 40px; border: solid black 2px;"/>
                                <p class="p-list-item" style="color: orange">&#9733 @guide.Rating</p>
                                <p class="p-list-item">@guide.User.FirstName @guide.User.LastName</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (_createTripVisible)
    {
                <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <h1 class="text-center mb-4">Book your guide in @_cityName!</h1>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label for="startDate">Start Date</label>
                                <input type="date" class="form-control" id="startDate" @bind="_startDate" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="endDate">End Date</label>
                                <input type="date" class="form-control" id="endDate" @bind="_endDate" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="comments">Comments</label>
                                <input type="text" class="form-control" id="comments" @bind="_comments">
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" @onclick="CreateTripWithGuideDetails">Book Guide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
  
  &nbsp;
  &nbsp;
  

@code {

    bool _countriesVisible = true;
    bool _citiesVisible = false;
    bool _guidesVisible = false;
    bool _createTripVisible = false;
    
    List<City> _cities = new();
    List<Guide> _guides = new();
    string _countryName = string.Empty;
    string _cityName = string.Empty;
    int _cityId;

    int _selectedGuideId;
    DateTime _startDate = DateTime.Now;
    DateTime _endDate = DateTime.Now.AddDays(3);
    string _comments;

    void FindCities(Country country)
    {
        _cities = CityService.GetCities(country.Id);

        _countryName = country.Name;
        
        _countriesVisible = false;
        _citiesVisible = true;
    }

    void FindGuides(City city)
    {
        _guides = GuideService.GetNearbyGuides(city.Latitude, city.Longitude, 100000);

        _cityId = city.Id;
        _cityName = city.Name;
        
        _citiesVisible = false;
        _guidesVisible = true;
    }
    
    void ShowCreateTrip(Guide guide)
    {
        _selectedGuideId = guide.UserId;
        
        _guidesVisible = false;
        _createTripVisible = true;
    }

    void CreateTripWithGuideDetails()
    {
        var trip = TripService.CreateTrip(1004, _selectedGuideId, _cityId, _startDate, _endDate, _comments);
    }
}
