@page "/CreateTrip"
@using TravelBuddy.Logic
@using TravelBuddy.Models
@inject CityService CityService
@inject CountryService CountryService
@inject GuideService GuideService
@inject AppDbContext AppDbContext

<style>
    p {
        color: black;
        font-size: 20px;
        display: inline-block; 
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div class="main_container">
    
    @if (_countriesVisible)
    {
        <div id="country_div" class="container">
            <h2>Where would you like to go?</h2>
            <div style="height: 900px; overflow-y: auto;">
                <p class="lead">Select a destination country:</p>
                <ul class="list-group country_list">
                    @{
                        var countries = CountryService.GetCountries();

                        foreach (var country in countries)
                        {
                            <li class="list-group-item" @onclick="() => FindCities(country)">
                                <span class="@country.Flag"></span>
                                <p style="display: inline-block">@country.Name</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (_citiesVisible)
    {
        <div id="city_div" class="container">
            <h2>Choose one of these most popular destinations in @_countryName!</h2>
            <div style="height: 900px; overflow-y: auto;">
                <ul class="list-group city_list">
                    @{
                        foreach (var city in _cities)
                        {
                            <li class="list-group-item" @onclick="() => FindGuides(city)">
                                <p style="display: inline-block">@city.Name</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (_guidesVisible)
    {
        <div id="guide_div" class="container">
            <h2>Perfect! Now choose your guide in @_cityName!</h2>
            <div style="height: 900px; overflow-y: auto;">
                <ul class="list-group guide_list">
                    @{
                        foreach (var guide in _guides)
                        {
                            <li class="list-group-item" @onclick="() => ShowGuide(guide)">
                                <img src="@guide.User.ProfilePicture" style="width: 40px; height: 40px; border: solid black 2px;"/>
                                <p style="">@guide.User.FirstName @guide.User.LastName</p>
                                
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
</div>
  
  &nbsp;
  &nbsp;
  

@code {

    bool _countriesVisible = true;
    bool _citiesVisible = false;
    bool _guidesVisible = false;
    List<City> _cities = new();
    List<Guide> _guides = new();
    string _countryName = string.Empty;
    string _cityName = string.Empty;
    
    void FindCities(Country country)
    {
        //ToggleDivVisibility(ref _countryVisible);
        
        _cities = CityService.GetCities(country.Id);

        _countryName = country.Name;
        
        _countriesVisible = false;
        _citiesVisible = true;
        _guidesVisible = false;
    }

    void FindGuides(City city)
    {
        _guides = GuideService.GetNearbyGuides(city.Latitude, city.Longitude, 100000);
        
        _cityName = city.Name;
        
        _countriesVisible = false;
        _citiesVisible = false;
        _guidesVisible = true;
    }
    
    void ShowGuide(Guide guide)
    {
        
    }
}
